body {
  font-family: 'Trebuchet MS', sans-serif;
	background-color: #404040;
}

.title {
	color: white;
	text-align: center;
}

.tab {
	overflow: hidden;
	border: none;
	background-color: #808080;
}

.tab button {
  color: white;
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.5s;
}

.tab button:hover {
 	background-color: #b3b3b3;
}

html, body{
  height: 100%;
  width: 100%;
}

